#rootPane {
    -fx-background-color: transparent;
}

#rightMain {
    -fx-background-color: transparent;
}

.accordion {
    -fx-background-color: transparent;
}

#splitMain {
    -fx-background-color: transparent;

}
