<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true">
	<appender name="MVN_STYLE" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>[%-5level] %-4relative [%thread] %logger{15} - %msg %n</pattern>
		</encoder>
		<immediateFlush>false</immediateFlush>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
                <expression>return message.contains("onBuildFinished") || message.contains("onBuildFailed");</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
	</appender>

	<appender name="FILE_DAILY"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${java.io.tmpdir}/${project.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%-5level] %-4relative [%thread] %logger{15} - %msg %n</pattern>
		</encoder>
		<immediateFlush>false</immediateFlush>
	</appender>

	<root level="ERROR">
		<appender-ref ref="MVN_STYLE" />
	</root>

	<logger name="com.anrisoftware" level="ERROR" />
	<logger name="com.anrisoftware.easycl" level="ALL" />
	<logger name="com.anrisoftware.anlopencl" level="ALL" />
    <logger name="com.anrisoftware.anlopencl.jmeapp.actors.GameMainPanelActor" level="INFO" />
    <logger name="com.anrisoftware.anlopencl.jmeapp.view.states.NoiseImageSystem" level="INFO" />

</configuration>
